## default cleanliness state should be that produced by `make distclean`
*.cache
Makefile
*.log
*.o
*~
*.a
stamp-h*
plugins/wfx/gvfs/lib/gvfs.wfx
po/Makefile.in
po/Makevars
po/POTFILES
config.h
conftest.*
*.status
